

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../src/images/background2.jpg);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.info {
  text-align: center;
  padding: 20px;
  background: rgb(147, 180, 227);
  background: linear-gradient(
    90deg,
    rgba(147, 180, 227, 1) 0%,
    rgba(13, 196, 177, 1) 35%,
    rgba(50, 155, 176, 1) 100%
  );
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.info img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.btn-contact, .btn-linke {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 10px
  
}

.btn-contact:hover,
.btn-link:hover {
  background-color: #2980b9;
}

.about,
.interest {
  max-width: 550px;
  text-align: center;
  font-family: cursive;
}

.txt-animation{
  font-size: 25px;
  font-weight: 200;
  color: white;
}

.footer {
  display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
  
}


